<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tell me your little secret</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.common-material.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.metro.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.metro.mobile.min.css")" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Story", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("上傳", "Index", "Default")</li>
                    @*<li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <hr />
        <footer>
            <p>Copyright &copy; @(DateTime.Now.Year) GasparDing. All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
    @*https://developer.mozilla.org/zh-TW/docs/Web/HTML/Element*@
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/cultures/kendo.culture.zh-TW.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.219/js/messages/kendo.messages.zh-TW.min.js"></script>
</body>
</html>
